<a href="https://colab.research.google.com/github/Bhavin-Bhesaniya/Colab/blob/main/All_Program.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 1. Add Two Numbers
a = 10
b = 20        
c = a + b
print("Sum of A and B :- ",c)  


a1 = int(input("Enter Value For A :- "))  
b2 = int(input("Enter Value For B :- "))
print(a1 + b2)

# ValueError : Type is int but pass other
# TypeError  : Unsupported operand type for + :- 'int' and 'str'

Sum of A and B :-  30
Enter Value For A :- 10
Enter Value For B :- 20
30

In [2]:
# 2. Maximum of two numbers
a = int(input("Enter Value For A :- "))  
b = int(input("Enter Value For B :- "))
if a > b:
  print(a)
else:
  print(b)

Enter Value For A :- 10
Enter Value For B :- 2
10

In [3]:
# 3. Largest among 3 numbers
num1 = 50
num2 = 20
num3 = 55

if num1 > num2 and num1 > num3 :
    print("Largest", num1)
elif num2 > num3 and num2 > num3 :
    print("Largest", num2)
else:
    print(num3)

55

In [4]:
# 4. Positive, Negative, Zero Number
a = -10
if a > 0:
    print("Positive", a)
elif a < 0: 
    print("Negative", a)
else: 
    print("Zero", a)

Negative -10

In [5]:
# 5. Swap variable
a = 10
b = 20

temp = a
a = b
b = temp
print("First Swap :- ", a, b)

a, b = b, a
print("Second Swap :- ", a, b)

First Swap :-  20 10
Second Swap :-  10 20

In [6]:
# 6. Odd or Even
a = 10
if a % 2 == 0:
    print("Even",a)
else:
    print("Odd", a)

Even 10

In [7]:
# 7. Factorial Number
num = int(input("Enter No :- "))
def fact(a):
    if a == 0:
        return 1
    else:
        return a * fact(a-1)
result = fact(num)
print("Factorial of 5 is :- ", result)

Enter No :- 5
Factorial of 5 is :-  120

In [8]:
# 8. Prime or Not
user_no = int(input("Enter No :- "))

for num in range(2, user_no+1):
    for i in range(2,num):
        if num % i == 0:
            break
    else:
        print("Prime No", num)

Enter No :- 10
Prime No 2
Prime No 3
Prime No 5
Prime No 7

In [9]:
# 9. Squar Root
# Using Math module
import math           
print(math.sqrt(49))

# Using Exponentiation
a = 49
square_root = a ** (1/2)  # (0.5)
print(int(square_root))

7.0
7

In [10]:
# 10. Random module
import random
random_list = []
for i in range(0, 10):
    n = random.randint(0, 100)
    random_list.append(n)
print("Random No. list generated :- ", random_list)

Random No. list generated :-  [19, 75, 29, 44, 9, 61, 13, 76, 43, 14]

In [11]:
# 11. Add and Muliply Two Matrics 

X = [
      [12,7,3],
      [4 ,5,6],
      [7 ,8,9] ]

Y = [
      [5,8,1],
      [6,7,3],
      [4,5,9] ]

result = [[X[i][j] + Y[i][j]  for j in range(len(X[0]))] for i in range(len(X)) ]  # For multiplication X[i][j] * Y[i][j]

for r in result:
   print(r)

[17, 15, 4]
[10, 12, 9]
[11, 13, 18]

In [13]:
# 12. Sum of Array and larget among them
usr_input = int(input("Enter No to add item in list :- "))
usr_list = []


for i in range(0, usr_input):
    ele = int(input("Enter Value :- "))
    usr_list.append(ele)        # Store value in array
print("List :- ", usr_list)


# Sum of array
sum = 0
for adding in range(0, len(usr_list)):
    sum = sum + usr_list[adding]
print(sum)

# Largest of array
def largest(arr, n):
    ans = max(arr)
    return ans
print("Larget Element :- ", largest(usr_list, len(usr_list)))

Enter No to add item in list :- 3
Enter Value :- 100
Enter Value :- 20
Enter Value :- 25
List :-  [100, 20, 25]
145
Larget Element :-  100

In [14]:
# 13. Convert Kilometres to Miles
km = 5
miles = 0.621 * km
print(miles)

3.105

In [15]:
# 14. Calculate Area of triangle
h = int(input("Enter triangle's height length :- "))
b = int(input("Enter triangle's breadth length :- ")) 
tri_area = 0.5 * b * h
print(f"The area of triangle is :- {tri_area} ")

Enter triangle's height length :- 10
Enter triangle's breadth length :- 4
The area of triangle is :- 20.0

In [17]:
# 15. Check String is Palindrome or Not 
user_string = input("Enter String :- ")

for i in range(len(user_string)):                   # validation = user_string[::-1]
    validation = ''.join(reversed(user_string))

if user_string == validation:
    print("Palindrome String :- ", user_string)
else:
    print("Not Palindrome String :- ", user_string)

Enter String :- rar
Palindrome String :-  rar

In [18]:
# 16. Check Leap year
leap = 2008
if (leap % 400 == 0) & (leap % 100 == 0) or (leap % 4 == 0) & (leap % 100 != 0):
    print("Leap Year")
else:
    print("Not Leap Year")

Leap Year

In [19]:
# 17. Check substring
ustring = "Check Substring Program"
ustring_chk = ustring[0:5]
if ustring_chk in ustring:
    print("Prsent")
else:
    print("Not Prsent")

Prsent

In [ ]:
# 18. Reverse String 
tString = "String Reversing"
print(tString[::-1])

In [20]:
# 19. Check if string contain any special character
import re
test_string = "String Checking"
regex = re.compile('[@_!#$%^&*()<>?/\|}{~:]')
if regex.search(test_string) == None:
  print("String is accepted")
else:
  print("String is not accepted.")

String is accepted

In [24]:
# 20. Fibonacci Sequence: Python
a = 0
b = 1

num = int(input("Enter No :- "))
for i in range(2, num):
 c = a + b
 a = b 
 b = c 
 print(c)

Enter No :- 11
1
2
3
5
8
13
21
34
55

In [25]:
# 21. Display Multiplication Table
num = int(input("Enter table No :- "))
for i in range(1,10+1):
    print(num,"x", i, "=", num *i)

Enter table No :- 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [26]:
# 22. Calcuis to Farenhit
user_temp = int(input("Enter Celsius :- "))
Faren = user_temp * 1.8 + 32 #  (cel&=*(9/5)+32)
print("Farenhit", Faren)

Enter Celsius :- 4
Farenhit 39.2

In [27]:
# 23. Find ASCII Value of Character Program
c = 'A'
print("The ASCII value of '" + c + "' is", ord(c))

The ASCII value of 'A' is 65

In [28]:
# 24. Find Sum of Natural Numbers using the Python
num = 16
if num < 0:
   print("Enter a positive number")
else:
   sum = 0
   # use while loop to iterate until zero
   while(num > 0):
       sum += num
       num -= 1
   print("The sum is", sum)

The sum is 136

In [29]:
# 25. Create a list of multiple of 3 less than 100 using list comprehension.
multiples_3 = [x * 3 for x in range(1, 10)]
print(multiples_3)

[3, 6, 9, 12, 15, 18, 21, 24, 27]

In [ ]:
# 26. Find the Factors of a Number
def print_factors(x):
   print("The factors of ",x," are - ")
   for i in range(1, x + 1):
       if x % i == 0:
           print(i)
num = 320
print_factors(num)

In [31]:
# 27. Convert Decimal to Binary, Octal, and Hexadecimal
dec = 344
print("The decimal value of", dec, "is:")
print(bin(dec), "in binary.")
print(oct(dec), "in octal.")
print(hex(dec), "in hexadecimal.")

The decimal value of 344 is:
0b101011000 in binary.
0o530 in octal.
0x158 in hexadecimal.

In [32]:
# 28. Create dictionary of fruits using their first letter as key using dict comprehension.
a = {'apple': 'fruit', 'beetroot': 'vegetable', 'cake': 'dessert'}
a['doughnut'] = 'snack'
print(a['apple'])

fruit

In [33]:
# 29. HCF/GCD of Two Numbers Python Program
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))
 
HCF = 1
for i in range(2,a+1):
    if(a%i==0 and b%i==0):
        HCF = i
print("First Number is: ",a)
print("Second Number is: ",b)
print("HCF of the numbers is: ",HCF)
LCM = int((a*b)/(HCF))
print("LCM of the two numbers is: ",LCM)

Enter the first number: 10
Enter the second number: 20
First Number is:  10
Second Number is:  20
HCF of the numbers is:  10
LCM of the two numbers is:  20